body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#json_input {
  resize: both;
  width: 889px;
  max-width: 883px;
  font-family: monospace;
  background-color: #EBEBEB;
}